body {
    background-color: antiquewhite;
    padding: 5%;
    width: 60%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
    color: green;
}

h3 {
    line-height: 2;
}

#box_categories {
    display: grid;
    width: 30vw;
    margin: auto;
    .item {
        padding: 10px;
        font-size: 2rem;
        text-transform: uppercase;
    }
}